<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hiltexample">

    <!-- Execute network calls through Retrofit & HttpOk -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Read files from emulator/device external storage - SD card -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

     <!-- android:usesCleartextTraffic="true" Enable Http requests together with Https -->
    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.HiltExample">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>